<% include header %>
<% include mainnav %>


<div class="container-fluid" style="height: 100%;">
    <div class="row-fluid">    
        <div class="span3" style="white-space: nowrap; overflow-y: auto;">
            <div class="input-append">
                    <input type="text" value="" id="search" class="span2">
                    <button class="btn" type="button" id="search-run">Search</button>
                </div>
            <div id="task" style="width:100%; height: 700px;">
            </div>
        </div>

        <div class="span9">   
            <div id="plot-buttons" class="input-append">
                <button class="btn" type="button" id="plot-left-zero"><i class="icon-fast-backward"></i></button>
                <button class="btn" type="button" id="plot-left"><i class="icon-backward"></i></button>
                <input class="span1" id="plot-count" type="text" value="25000">
                <button class="btn" type="button" id="plot-right"><i class="icon-forward"></i></button>
                <button class="btn" type="button" id="plot-right-zero"><i class="icon-fast-forward"></i></button>
                <button class="btn" type="button" id="plot-unzoom"><i class="icon-zoom-out"></i></button>
            </div>
            <div id="plot" style="height: 700px;"></div>
        </div>

    </div>
</div>

<% include scripts %>
<script src="http://code.highcharts.com/stock/highstock.js" type="text/javascript"></script>
<script src="http://code.highcharts.com/stock/highcharts-more.js" type="text/javascript"></script>
<script src="http://code.highcharts.com/stock/modules/exporting.js" type="text/javascript"></script>


<script>

    var grid;

    function sparkFormatter (row, cell, value, columnDef, dataContext)
    {
        //var buttons = "<a class='btn btn-primary btn-mini' id='" + dataContext.id + "'><i class='icon-plus icon-white'></i> Clone</a>";
        return '<img src="http://176.9.136.233:3010/?file=' + value + '&output=spark" alt="sparkline" />';
        //return buttons;
    }

    var columns = [
        {id: "tagsString", name: "Tag", field: "tagsString", width: 190, sortable: true},
        {id: "_id", name: "", field: "_id", width: 210, sortable: false, formatter: sparkFormatter}
        //{id: "_id", name: "Id", field: "_id", width: 250, sortable: false}
        //{id: "actions", name: "Actions", field: "actions", width: 200, formatter: actionFormatter}
    ];
    
    function actionFormatter (row, cell, value, columnDef, dataContext)
    {
        var buttons = "<a class='btn btn-primary btn-mini' id='" + dataContext.id + "'><i class='icon-plus icon-white'></i> Clone</a>";
        
        return buttons;
    }

    var tableOptions = {
        rowHeight: 38,
        editable: true,
        enableAddRow: false,
        enableCellNavigation: true,
        enableColumnReorder: true
    };

    $.task_edit_load = function (data)
    {
        $(':input[name="name"]').val(data.name);
        $(':input[name="searchTags"]').val(data.searchTags.join(","));
        $(':input[name="addTags"]').val(data.addTags.join(","));
        $(':input[name="removeTags"]').val(data.removeTags.join(","));
        var regexBackslash = new RegExp("\\\\\\\\", "g");
        $(':input[name="detail"]').val(JSON.stringify(data.detail).replace(regexBackslash, "\\"));
        $(':input[name="_id"]').val(data._id);
        $('#task-edit').modal();
    };

    $.task_edit_reset = function ()
    {
        $.task_edit_load({name:'', searchTags:[], addTags:[], removeTags:[], detail:'', _id:''});
        $('#task-edit').modal('hide');
    };

    $.task_edit_tojson = function ()
    {
        data = {};
        data.name = $(':input[name="name"]').val();
        data.searchTags = $(':input[name="searchTags"]').val().length > 0 ? $(':input[name="searchTags"]').val().split(',') : [];
        data.addTags = $(':input[name="addTags"]').val().length > 0 ? $(':input[name="addTags"]').val().split(',') : [];
        data.removeTags = $(':input[name="removeTags"]').val().length > 0 ? $(':input[name="removeTags"]').val().split(',') : [];
        var regexBackslash = new RegExp("\\\\", "g");
        data.detail = $(':input[name="detail"]').val().length > 0 ? JSON.parse($(':input[name="detail"]').val().replace(regexBackslash, "\\\\")) : {};
        data._id = $(':input[name="_id"]').val();
        return data;
    };

    function save (data, callback)
    {
	    $.post("/task/save", {content: JSON.stringify(data)}).done( function(response) {
            find({}, {}, callback);
	    });
    };

    function find (searchTags, callback)
    {
        $.post("/task/detail", {content: JSON.stringify(searchTags)}).done( function(data) {
            var parsedData = JSON.parse(data);
            jQuery.each(parsedData, function (index, element) {
                parsedData[index].tagsString = parsedData[index].tags.join(",");
                console.log(parsedData[index].tagsString);
            });
            grid = new Slick.Grid("#task", parsedData, columns, tableOptions);
	        grid.setSelectionModel(new Slick.RowSelectionModel());
	        //grid.onSelectedRowsChanged.subscribe(function(e, args) { $.load_file(grid.getData()[args.rows[0]]); });
            grid.onDblClick.subscribe(function(e, args) { $.load_file(grid.getData()[grid.getCellFromEvent(e).row]); });
            grid.onSort.subscribe(function(e, args){ // args: sort information. 
                var field = args.sortCol.field;

                grid.getData().sort(function(a, b){
                    var result = 
                        a[field] > b[field] ? 1 :
                        a[field] < b[field] ? -1 :
                        0;

                    return args.sortAsc ? result : -result;
                });

                grid.invalidate();         
            });
            callback();
	    });
    };

    $(function() {

        $("#search-run").click(function() {
            $('#task-edit').modal('hide');
            find($("#search").val().split(","), function () {});
        });

        $("#search").keyup(function(event){
            if(event.keyCode == 13) {
                $("#search-run").click();
            }
        });
        
        $("#task-edit-clone").click(function() {
            var jsonData = $.task_edit_tojson();
            jsonData._id = "";
            save(jsonData, function () {
                $.task_edit_reset();
            });
        });

        $("#task-edit-reset").click(function() {
            $.task_edit_reset();
        });

        $("#task-edit-save").click(function() {
            save($.task_edit_tojson(), function () {
                $.task_edit_reset();
            });
        });
    });
    
</script>



<script>

$.load_file = function (detail)
{
    var file = detail._id;
    Highcharts.setOptions({ global : { useUTC : true } });

    if (window.chart)
    {
        window.chart.showLoading('Loading data from server...');
        $("#plot-left").unbind("click");
        $("#plot-right").unbind("click");
        $("#plot-left-zero").unbind("click");
        $("#plot-right-zero").unbind("click");
        $("#plot-unzoom").unbind("click");
        delete window.chart;
    }

    function saveZoom (e)
    {
        if (e.trigger == 'zoom' && !window.chartExtremes)
        {                       
            window.chartExtremes = this.getExtremes();
        }
    }
	
    function createUpdateFunction (baseUrl, direction)
    {
        return function (e, override) 
        {
            if (window.chartExtremes)
            {
                window.chart.xAxis[0].setExtremes(window.chartExtremes.dataMin, window.chartExtremes.dataMax);
                window.chartExtremes = null;
            }

            var plotCount = parseInt($('#plot-count').val());

            if (e.trigger == 'rangeSelectorButton')
            {
                if (direction > 0)
                {
                    if (override)
                    {
                        window.chartRange.to = override;
                        window.chartRange.from = override - plotCount;
                    }
                    else
                    {
                        window.chartRange.to = Math.min(window.chartRange.max, (window.chartRange.to + plotCount));
                        window.chartRange.from = window.chartRange.to - plotCount;
                    }
                }
                else
                {
                    if (override)
                    {
                        window.chartRange.from = override;
                        window.chartRange.to = Math.max((override + plotCount), window.chartRange.max);
                    }
                    else
                    {
                        window.chartRange.from -= plotCount;
                        window.chartRange.from = Math.max(0, window.chartRange.from);
                        window.chartRange.to = window.chartRange.from + plotCount;
                    }
                }

	            window.chart.showLoading('Loading data from server...');
	            $.getJSON(baseUrl+ '&start=' + window.chartRange.from + '&end='+ window.chartRange.to,
                            function(data) {
		                        window.chart.series[0].setData(data.detail);
                                var ex = window.chart.xAxis[0].getExtremes();
                                window.chart.xAxis[0].setExtremes(ex.dataMin, ex.dataMax);
		                        window.chart.hideLoading();
	                        }
                );
            }
        };
    }

    var url = "/getdata?file=" + encodeURIComponent(file);
    if (window.chart)
    {
        window.chart.showLoading('Loading data from server...');
    }

	$.getJSON(url + "&start=0&end=25000", function(data) {
                    
        var plotType = 'ohlc'; 
        if ($.inArray("filtered", detail.tag) > -1) { plotType = 'line'; }
        window.chartRange = {from: data.from, to: data.to, max: data.max};
	    window.chart = new Highcharts.StockChart({
					        chart : { renderTo : 'plot', type: 'line', zoomType: 'x' },
                            navigator : {
				                adaptToUpdatedData: false,
				                series : {
					                data : data.summary,
                                    dataGrouping: { enabled: false }
				                }
			                },
					        rangeSelector : { selected: 1, enabled: false },
					        title : { text : null },
                            tooltip: { valueDecimals: 6
                            },
                            xAxis : {
				                events : {
					                setExtremes : saveZoom
				                },
				                minRange: 1 // one microsecond
			                },
                            yAxis : [ {
                                        title: { text: 'OHLC' },
                                        height: 460
                                      },
                                      {
                                        title: { text: 'Volume' },
                                        top: 500,
                                        height: 100,
                                        offset: 0
                                      }
                                    ],
                            scrollbar : { enabled: false },
				            series : [{
						                type : plotType,
						                name : '',
						                data : data.ohlc,
						                dataGrouping : { enabled: false }
					        },
                            {
                                type: 'column',
                                name: '',
                                data: data.volume,
                                dataGrouping : { enabled: false },
                                yAxis: 1
                            }
                            ]
        });
        window.chart.hideLoading();
        var left = createUpdateFunction(url, -1);
        var right = createUpdateFunction(url, 1);
        $("#plot-left").click(function() {
            left({trigger: 'rangeSelectorButton'});
        });
        $("#plot-right").click(function() {
            right({trigger: 'rangeSelectorButton'});
        });
        $("#plot-left-zero").click(function() {
            left({trigger: 'rangeSelectorButton'}, 0);
        });
        $("#plot-right-zero").click(function() {
            right({trigger: 'rangeSelectorButton'}, window.chartRange.max);
        });
        $("#plot-unzoom").click(function() {
            if (window.chartExtremes) { window.chart.xAxis[0].setExtremes(window.chartExtremes.dataMin, window.chartExtremes.dataMax); window.chartExtremes = null; }
        });
    });
}

</script>


<% include footer %>

